name: Python Tests and Allure Report

on: [push, pull_request]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test:
    name: Run Tests and Collect Results
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest ./tests --alluredir=allure-results --disable-warnings
        continue-on-error: true # Отчет строится даже если упали тесты

      - name: Upload Allure Results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
          retention-days: 1 # Артефакты результатов тестов можно хранить недолго

  generate-and-publish-report:
    name: Generate and Publish Allure Report
    runs-on: ubuntu-latest
    needs: test # Этот job зависит от завершения job 'test'
    # Разрешения, специфичные для этого job, если нужны
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'microsoft'
          java-version: '17'

      - name: Install Allure
        run: |
          sudo wget https://github.com/allure-framework/allure2/releases/download/2.29.0/allure-2.29.0.tgz
          sudo tar -xvzf allure-2.29.0.tgz -C /opt/
          sudo ln -sf /opt/allure-2.29.0/bin/allure /usr/bin/allure

      - name: Download Allure Results
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: allure-results # Результаты появятся в этой директории

      - name: Generate Allure Report
        run: |
          allure generate -c allure-results -o _site/generated-report

      - name: Setup Pages Artifact
        run: |
          # Создаем минимальный индекс.html для редиректа на последний отчет
          echo '<!DOCTYPE html><html><head><meta http-equiv="refresh" content="0; url=generated-report/index.html"></head><body></body></html>' > _site/index.html

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site # Загружаем всю папку _site для GitHub Pages

  deploy-to-pages:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: generate-and-publish-report # Зависит от генерации отчета
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4